*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

:root{
    --main-color: #6096B4;
    --second-color: #93BFCF;
    --third-color: #BDCDD6;
    --bg: #EEE9DA;
}

body{
    background-color: var(--bg);
}

nav{
    margin: auto;
    border-bottom: solid 4px black;
    color: var(--bg);
    background-color: var(--main-color);
    text-align: center;
    padding-top: 10px;
    height: 50px;
}


.container {
    margin: auto;
    display: flex;
    height: 350px;
    align-items: center ;
    justify-content: center;
    text-align: center;
}

.box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 230px;
    margin: auto;
    font-size: 50px;
    
}

.square {
    font-family: 'Gaegu';
    font-size: 4rem;
    font-weight: bold;
    height: 75px;
    width: 75px;
    border: solid 2px black;
    cursor: pointer;
    transition: 0.7s ease;
}

.button-container {
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-btn {
    margin: auto;
    padding: 10px;
    width: 100px;
    background-color: var(--third-color);
    border: solid 2px black;
    font-weight: bold;
    cursor: pointer;
}


.restart-btn:hover {
    background-color: black;
    color: var(--bg);
}

.restart-btn:active {
    background-color: var(--main-color);
    color: black;
}

.info-container {
    margin: auto;
    width: 200px;
    text-align: center;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:nth-child(3n + 1) {
    border-left: none;
}
.square:nth-child(3n + 3) {
    border-right: none;
}

.square:last-child,
.square:nth-child(8),
.square:nth-child(7) {
    border-bottom: none;
}

.winning-line {
    color: #ff0000;
    
}

